.root {
    -fx-padding : 15;
    -fx-background-color : #3067B2;
}

#inline{
    -fx-text-fill: "black" ;
}

#opaque{
      -fx-background-color : #ffe680;
}

#text{
      -fx-text-fill : #4682b4 ;
      -fx-font-size: 1em;
      -fx-font-weight : bold;
}
.label {
    -fx-text-fill : #3067B2 ;
    -fx-font-size: 15;
    -fx-font-weight : bold;
}
